.Chips {
  color: darkgreen;
  font-size: 18px;
  font-weight: 700 ;
  line-height: 18px;
  background-color: aqua;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 2px solid coral;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.Pots .Chips:before {
  content: "Pot: ";
}

.Seat .Chips {
  margin-top: 5px;
}

.Seat .Chips:before {
  content: "";
}
