.Table {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: gold;
  overflow: hidden;
  background: url(../../../public/table.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
}

.Table > div {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  width: 1024px;
  height: 768px;
  overflow: visible;
}
