.Table {
  position: relative;
  display: block;
  width: 1200px;
  height: 768px;
  background-color: gold;
  overflow: hidden;
  background: url(/table.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px auto 0;
}

.Table > div {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  width: 1024px;
  height: 768px;
  overflow: visible;
}
